*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', sans-serif;
}
html, body{
    height: 100vh;
    width: 100%;
    color: white; 
}
#main{
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 4px 8px;
    color: white;
    background-color: #86B2A3;
    overflow: hidden;
}
#main #nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 30px;
}
#main #nav h4{
    font-size: large;
}
#main #nav a{
    text-decoration: none;
    color: white;
}
#main #content{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main #left{
    position: relative;
    top: 10vh;
    left: -1%;
}
#main #left img{
    width: 20vw; /*300px*/
    height: 25vh; /*250px*/
    opacity: 0.5;
}
#main #right{
    position: relative;
    top: 10vh;
    right: -1%;
}
#main #right img{
    width: 20vw;
    height: 25vh;
    opacity: 0.5;
}

#main #middle h1{
    font-size: 10vw; /*120px*/
    height: 14vh; /* 80px */ 
    font-weight: bolder;
    word-wrap: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main #middle img{
    margin-top: -13px;
    width: 50vw;
    height: 40vh;
    opacity: 0.9;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}
#main #middle #heading1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main #middle #heading1 h4{
    text-transform: uppercase;
    font-size: 1.5vw;
}
#main #middle #para {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#main #middle #para p{
    font-size: 15px; 
    width: 70%;
}

#main #middle #exploreBtn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    margin-top: 20px;
}
#main #middle #exploreBtn button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    /* color: green; */
    background-color: aliceblue;
    opacity: 0.7;
    text-transform: uppercase;
}
#main #middle #exploreBtn button a{
    text-decoration: none;
    color: green;
}
#main #middle #exploreBtn button:hover{
    background-color: orange;
}


/* #main #middle #design{
    margin-top: 10px;
    margin-bottom: 12px;
    border-top: 0.1px dashed white;
    border-radius: 10;
    opacity: 0.4;
} */